:root {
    --textWhite: #E0E0E0;
    --backgroundBlack: #121212;
}

body {
    background-color: var(--backgroundBlack);
}

#main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    color: var(--textWhite);
}

#header {
    font-size: xx-large;
}


#timer {
    margin: 50px;
}

.section {
    border: 2px solid var(--textWhite);
    width: 50vw;
    margin: 20px auto;
}

a {
    color: #BB86FC;
}

a:hover {
    color: aqua;
}

input[type="button"] {
    color: var(--textWhite);
    background-color: var(--backgroundBlack);
    border: 1px solid var(--textWhite);
    padding: 5px;
    margin-bottom: 15px;
}

input[type="button"]:hover {
    background-color: var(--textWhite);
    color: var(--backgroundBlack);
}